<!-- CONTATO -->
<section class="contato bloco scrollspy" id="contato">
    <div class="row container">
        <div class="col s12 center">
            <h2 class="titulo light black-text"> Contato </h2>
        </div>

        <div class="col s12 m6 l4 hide-on-med-only ">
            <div class="mapa transparent">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3857.9703745713323!2d-39.26573268527739!3d-14.770698889694328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x739009ddf8f3277%3A0x10113c57b40aa420!2sNode+Studio+Treinamentos!5e0!3m2!1spt-BR!2sbr!4v1508690488190" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="informacoes white-text">
                <h4> Redes sociais </h4>
                <p class="light"> Fique por dentro das novidades, receba dicas, ou simplesmente mostre ao mundo que você faz parte desse projeto sensacional! </p>
                <a href="#" class="btn-floating blue-logo"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn-floating blue-logo"><i class="fa fa-google"></i></a>
                <a href="#" class="btn-floating blue-logo"><i class="fa fa-twitter"></i></a>

                <h4> Endereço </h4>
                <p class="light">
                    Rua paraíso, 123 <br>
                    Centro, Itabuna - Ba
                </p>

                <h4> Contatos </h4>
                <p class="light">
                    (73) 123456987 <br>
                    (45) 123456789 <br>
                    (56) 234567678
                </p>

            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="formulario white black-text">
                <h4> Fale conosco </h4>
                <p class="light">  Dúvidas, criticas ou sujestões? Entre em contato conosco, seu feedback é muito importante. </p>

                <form action="enviar-email.php" method="post">

                    <div class="input-field">
                        <input type="text" name="name" id="name">
                        <label for="name">Seu nome</label>
                    </div>

                    <div class="input-field">
                        <input type="email" name="email" id="email">
                        <label for="email">Seu email</label>
                    </div>

                    <div class="input-field">
                        <input type="text" name="subject" id="subject">
                        <label for="subject">Assunto</label>
                    </div>

                    <div class="input-field">
                        <textarea id="message" name="message" class="materialize-textarea"></textarea>
                        <label for="message">Mensagem</label>
                    </div>

                    <button class="btn blue-logo" type="submit"> Enviar </button>

                </form>
            </div>
        </div>

    </div>
</section>