<!-- DEPOIMENTOS -->
<div class="depoimentos blue-logo">
    <div class="row container">
        <div class="col s12 center">
            <h2 class="titulo white-text light">Depoimentos</h2>
        </div>

        <div class="col s12 m4 center">
            <img src="~/Content/img/depo1.jpg" class="circle responsive-img" alt="Depoimento um">
            <p class="light white-text"> "Conheci o treinamento funcional e a metodologia Centro Boa Forma por indicação de um amigo. Execelentes profissionais e super atenciosos!"</p>
            <h4 class="light white-text">Felipe Souza</h4>
            <p class="white-text">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </p>
        </div>

        <div class="col s12 m4 center">
            <img src="~/Content/img/depo2.jpg" class="circle responsive-img" alt="Depoimento de Bruno">
            <p class="light white-text"> "Gostei muito da oficina e das aulas, superou minhas expectativas. A empresa e os treinamentos foram ótimos!"</p>
            <h4 class="light white-text">Bruno Valério</h4>
            <p class="white-text">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </p>
        </div>

        <div class="col s12 m4 center">
            <img src="~/Content/img/depo3.jpg" class="circle responsive-img" alt="Depoimento um">
            <p class="light white-text"> "Treinar com motivação e satisfação pelos resultados obtidos são os motivos que me conquistaram e me mantém no Centro Boa Forma."</p>
            <h4 class="light white-text">Joana Souza</h4>
            <p class="white-text">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </p>
        </div>

    </div>
</div>