<!-- SERVIÇOS -->
<section class="servicos bloco scrollspy" id="servicos">
    <div class="row container">
        <div class="col s12 center">
            <h2 class="light titulo white-text"> Serviços </h2>
            <p class="light paragrafo white-text">  Suas instalações foram projetadas e equipadas sob medida, dentro dos padrões de acessibilidade, para acolher principalmente pessoas com limitações funcionais. A clínica dispõe de uma equipe profissional qualificada e com experiência no mercado, prezando sempre por tratamentos individualizados e baseados em evidências científicas.</p>
        </div>
    </div>

    <div class="row container">
        <!-- PILATES -->
        <article class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="~/Content/img/pilates.jpg" alt="Pilates" class="materialboxed">
                    <a href="#pilates-modal" class="btn btn-floating halfway-fab blue-logo modal-trigger">
                        <i class="material-icons">more_horiz</i>
                    </a>
                </div>
                <div class="card-content">
                    <h3 class="card-title"> Pilates </h3>
                    <p class="light"> Pilates é um método de controle muscular desenvolvido por... </p>
                </div>
            </div>
        </article>

        <!-- MODAL PILATES -->
        <div class="modal" id="pilates-modal">
            <div class="modal-content">
                <h5 class="light"> O que é Pilates? </h5>
                <p class="light black-text"> O Pilates é um método de exercício físico e alongamento que utiliza o peso do próprio corpo na sua execução. É uma técnica de reeducação do movimento que visa trabalhar o corpo todo, trazendo equilíbrio muscular e mental. </p>
                <h5 class="light"> Quais os benefícios do Pilates? </h5>
                <ul class="collection">
                    <li class="collection-item">Alongar, tonificar e definir a musculatura sem exageros;</li>
                    <li class="collection-item">Melhorar a postura;</li>
                    <li class="collection-item">Tonificar a musculatura profunda do abdômen;</li>
                    <li class="collection-item">Prevenir e recuperar lesões; </li>
                    <li class="collection-item">Reduzir o “stress” e aliviar as tensões;</li>
                    <li class="collection-item">Deixar sua coluna mais forte e flexível;</li>
                    <li class="collection-item">Melhorar a área de movimento das articulações;</li>
                    <li class="collection-item"> Melhora a circulação sanguínea;</li>
                    <li class="collection-item"> Aumentar a coordenação e o equilíbrio;</li>
                    <li class="collection-item">  Corrigir sobrecargas e alinhar os músculos;</li>
                    <li class="collection-item"> Melhorar a mobilidade e a agilidade;</li>
                    <li class="collection-item"> Complementar o seu treino esportivo;</li>
                    <li class="collection-item"> Melhorar o visual de seu corpo e a sua auto-estima.</li>
                </ul>
            </div>

            <div class="modal-footer">
                <a class="btn blue-logo modal-action modal-close"> Sair </a>
            </div>
        </div>

        <!-- NUTRIÇÃO -->
        <article class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="~/Content/img/nutricao.jpg" alt="Nutrição" class="materialboxed">
                    <a href="#nutricao-modal" class="btn btn-floating halfway-fab blue-logo modal-trigger">
                        <i class="material-icons">more_horiz</i>
                    </a>
                </div>
                <div class="card-content">
                    <h3 class="card-title"> Nutrição </h3>
                    <p class="light"> Ele planeja, administra e coordena programas de alimentação e nutrição... </p>
                </div>
            </div>
        </article>

        <!-- MODAL NUTRIÇÃO -->
        <div class="modal" id="nutricao-modal">
            <div class="modal-content">
                <h5 class="light"> Qual a importância da nutrição? </h5>
                <p class="light black-text"> Seja por um estilo de vida saudável ou para eliminar peso, a preocupação com os alimentos é constante na rotina das pessoas. Por isso é importante saber comer e dar relevância ao que se come. Uma nutrição adequada pode prevenir doenças e tornar a vida mais saudável. </p>
            </div>

            <div class="modal-footer">
                <a class="btn blue-logo modal-action modal-close"> Sair </a>
            </div>
        </div>


        <!-- FISIOTERAPIA -->
        <article class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="~/Content/img/fisioterapia.jpg" alt="Fisioterapia" class="materialboxed">
                    <a class="btn btn-floating halfway-fab blue-logo">
                        <i class="material-icons">more_horiz</i>
                    </a>
                </div>
                <div class="card-content">
                    <h3 class="card-title"> Fisioterapia </h3>
                    <p class="light">O fisioterapeuta trata e previne doenças e lesões, empregando técnicas... </p>
                </div>
            </div>
        </article>

        <!-- FUNCIONAL -->
        <article class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="~/Content/img/funcional.jpg" alt="Funcional" class="materialboxed">
                    <a class="btn btn-floating halfway-fab blue-logo">
                        <i class="material-icons">more_horiz</i>
                    </a>
                </div>
                <div class="card-content">
                    <h3 class="card-title"> Funcional </h3>
                    <p class="light"> O treinamento funcional é um método de trabalho ainda mais dinâmico... </p>
                </div>
            </div>
        </article>

        <!-- BOTÃO QUADRO DE HORÁRIOS -->
        <div class="row center btn-horario">
            <a href="#horarios-modal" class="btn btn-large blue-logo modal-trigger"><i class="material-icons left">timer</i> Quadro de horários </a>
        </div>

        <!-- MODAL QUADRO DE HORÁRIOS -->
        <div class="modal" id="horarios-modal">
            <div class="modal-content">
                <h5 class="light">Quadro de horários</h5>

                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#tabela-pilates">Pilates</a></li>
                    <li class="tab col s3"><a href="#tabela-musculacao">Musculação</a></li>
                    <li class="tab col s3"><a href="#tabela-fitness">Fitness</a></li>
                    <li class="tab col s3"><a href="#tabela-artes-marciais">Artes marciais</a></li>
                </ul>

                <!-- TABELA PILATES -->
                <table class="striped responsive-table" id="tabela-pilates">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Segunda</th>
                            <th>Terça</th>
                            <th>Quarta</th>
                            <th>Quinta</th>
                            <th>Sexta</th>
                            <th>Sábado</th>
                            <th>Domingo</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>6:00 às 10:00</td>
                            <td>Pilates</td>
                            <td></td>
                            <td>Pilates</td>
                            <td></td>
                            <td>Pilates</td>
                            <td>Pilates</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>12:00 às 22:00</td>
                            <td></td>
                            <td>Pilates</td>
                            <td></td>
                            <td>Pilates</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <!-- TABELA MUSUCAÇÃO -->
                <table class="striped responsive-table" id="tabela-musculacao">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Segunda</th>
                            <th>Terça</th>
                            <th>Quarta</th>
                            <th>Quinta</th>
                            <th>Sexta</th>
                            <th>Sábado</th>
                            <th>Domingo</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>6:00 às 10:00</td>
                            <td>asdasds</td>
                            <td></td>
                            <td>Pilates</td>
                            <td></td>
                            <td>Pilates</td>
                            <td>Pilates</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>12:00 às 22:00</td>
                            <td></td>
                            <td>Pilates</td>
                            <td></td>
                            <td>Pilates</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</section>
