<!-- RODAPÉ -->
<footer class="rodape">
    <div class="row container center">
        <img src="~/Content/img/logo.png" class="logo_img">
        <p class="light white-text">&copy; @DateTime.Now.Year Centro Boa Forma - Todos os direitos reservados.</p>
    </div>
</footer>
