@{
    ViewData["Title"] = "Confirmação de reset de senha";
}

<section class="bloco manage">

    <div class="row container">

        <div class="col s12 center">
            <h1 class="titulo light white-text">@ViewData["Title"]</h1>
        </div>

        <div class="col l3"></div>

        <div class="col s12 m12 l6 card-panel">
            <p>
                Sua senha foi resetada. Por favor @Html.ActionLink("clique aqui para efetuar login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>

    </div>
</section>

